


.flex {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 100%;
}

.list {
    min-width: 200px;
    padding: 20px;
}

.profile__title {
    min-width: 200px;
    padding: 20px;
}

.list__list1 {
    padding-left: 10%;
}

ul {
    list-style-type: none;
  }

.list__list2 {
    padding-left: 10%;
}

.font1 {
    font-family: var(--font1);
}
.font2 {
    font-family: var(--font2);
}