.flex {
    display: flex;
}

.time{
    position: relative;
}
.sec1_carousel{
    position: relative;
    overflow: hidden;
}
.center {
    justify-content:center !important;
}

.space-around {
    justify-content: space-around;
}

.font1 {
    font-family: var(--font1);
    font-size: 1.4rem;
}

p{
    text-wrap: nowrap;
    padding: 3%;
    width: fit-content;
}

.slick-prev:before, .slick-next:before {
    color: black !important;
}

.pad{
    padding-top: 2%;
}

.font2{
     font-family: var(--font2);
     font-size: 2rem;
}

.dot{
    color: red;
    padding-left: 10px;
    padding-right: 10px;
}


*, *::before, *::after {
    box-sizing: border-box;
}


.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
}

.slide > img {  
    object-fit: cover;
    object-position: center;
}

.slide[data-active]{
    opacity: 1;
    z-index: 1; 
}

.carousel-button{
    position:absolute;
    z-index: 2;
    background:none;
    border: none;
    font-size: 2rem;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 110px;
    padding-left:6px ;
    padding-right:6px;
    padding-bottom: 1px;

}

.carousel-button:hover,
.carousel-button:focus{
    color: black !important;
    background-color: grey !important;
}
.carousel-button:focus{
    outline: 1px solid black;
}

.carousel-button.next{
    right: 10px;
}
.carousel-button.prev{
    left:10px;
}
