:root {
    --primary: #FFF;
    --primary1: #363738;
    --secondary: #F5F5F5;
    --secondary1: #FEFAF1;
    --secondary2: #DB4444;
    --background: #FFFFFF;
    --text: #FAFAFA;
    --text1: #7D8184;
    --text2: #000000;
    --button: #000000;
    --button1: #00FF66;
    --button2: #DB4444;
    --hover-button: #E07575;
    --hover-button2: #A0BCE0;
    --font1: 'Poppins', sans-serif;
    --font2: 'Inter', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
